body {
    max-width: 60em;
    padding: 2em;
    margin: 0 auto;
    border: 1px solid black;
}

#find-me {
    background-color: #fff;
}

#find-me:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

#map {
    width: auto;
    height: 50em;
}